body {
    font-family: 'Roboto', sans-serif;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 99, 177, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

h1 {
    font-family: 'Amatic SC', cursive;
    margin: 60px 0 80px 0;
    text-align: center;
    font-size: 7.1em;
    font-weight: 500;
}

.main-container {
    margin: 0 auto;
    width: 40%;
}

#menu {
    margin-bottom: 20px;
    border-bottom: rgba(0, 99, 177, 0.6) solid 2px;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0 0 80px;
    padding: 0;
}

ul li {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: rgba(0, 99, 177, 0.5);
    font-size: 1.5em;
    transition: 0.2s;
    user-select: none;
}

#list p {
    /*display: inline-block;*/
}

#id {
    display: none;
}

#list p:nth-child(2) {
    margin-right: 2%;
}

ul li:nth-child(odd) {
    background: #ffffff;
}

ul li:hover {
    background: rgba(0, 99, 177, 0.5);
}

ul li i {
    margin-left: 2%;
}

.search-field {
    background-color: rgba(0, 99, 177, 0.6);
    padding: 30px 40px;
    color: white;
    text-align: center;
    margin: 0 0 20px;
}

.search-field:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
}

#searchBtn {
    padding: 10px;
    width: 25%;
    background-color: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

#searchBtn:hover, #reset:hover {
    background-color: #bbb;
}

#reset {
    width: 20%;
    background-color: #d9d9d9;
    color: #555;
    float: right;
    text-align: center;
    font-size: .9em;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.add-window {
    z-index: 2;
    transition: 1s;
    display: none;
    position: absolute;
    left: 30%;
    top: 20%;
    width: 40%;
    height: border-box;
    background-color: rgb(211, 211, 211);
}

.active {
    display: block;
}

.closeBtn {
    float: right;
    margin-right: 10%;
    margin-top: .5em;
    font-size: 3em;
    cursor: pointer;
}

.fa-edit {
    float: right;
    margin: 0 30% 1.2em;
    font-size: 3em;
    cursor: pointer;
}

.fa-trash-alt {
    margin-right: 27%;
    float: right;
    font-size: 3em;
    cursor: pointer;
}

.add-window h2 {
    text-align: center;
    font-weight: 500;
    font-size: 2.2em;
}

#new-data {
    z-index: 3;
    height: 65%;
    display: grid;
    align-items: center;
    grid-template-columns: 0.1fr 0.5fr;
    grid-auto-rows: 0.07fr;
    grid-gap: 40px 30px;
    grid-template-areas: ". ." ". ." ". ." ". ." "abc abc";
    place-content: center;
    margin: 50px 0 30px;
}

#addBtn, #addPhoneBtn, #saveBtn, #editPhoneBtn {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    color: #555;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

#addBtn:hover, #addPhoneBtn:hover {
    background-color: #bbb;
}

#addPhoneBtn {
    border-bottom: 2px solid rgba(0, 99, 177, 0.6);
}

#new-phone-number {
    margin-bottom: 1.5em;
}

.contact-window-container {
    background-color: rgb(211, 211, 211);
    display: none;
    z-index: 3;
    transition: 1s;
    position: absolute;
    left: 30%;
    top: 6%;
    width: 40%;
    height: auto;
    margin-bottom: 40px;
}

.contact-window {
    z-index: 5;
    display: grid;
    align-items: center;
    grid-template-columns: 0.1fr 0.5fr;
    grid-auto-rows: 0.07fr;
    grid-gap: 40px 30px;
    place-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-window label {
    font-size: 1.1em;
}

.contact-window p {
    font-size: 1.3em;
}

.active-contact {
    display: block;
}

#b64, #edit-b64 {
    display: none;
}

#img {
    transition: all .2s ease-in-out;
}

#img:hover {
    transform: scale(7);
}

#edit-photo {
    display: none;
}

#select-file {
    border: 2px dashed rgba(0, 99, 177, 0.6);
    padding: 5px;
    text-align: center;
}